<section class="hero is-medium is-primary is-bold" style="background-image: url('/assets/splash/lifting.webp')">
  <div class="hero-body">
    <div class="container is-pulled-left">
      <h1 class="title">
        BRO FITNESS
      </h1>
      <h2 class="subtitle is-pulled-left">
        The Importance of Being Arnold
      </h2>
    </div>
  </div>
</section>
<%# <%= image_tag "splash/lifting.webp", id: "banner" %>


<div class="row">
  <div class="column">
    <h2>Workouts</h2>
    <p>Quickly enter your workouts. Get massive. Know your stats.</p>
  </div>

  <div class="column">
    <h2>Charts</h2>
    <p>Gotta know where you're going and where you've been. See sick charts of your gains.</p>
  </div>

  <div class="column">
    <h2>Flex</h2>
    <p>Show off or get shown up. Make liftin buds and find a spotter.</p>
  </div>

  <div class="column">
    <h2>Hot Tips</h2>
    <p>World class fitness advice from your bros.</p>
  </div>
</div>
