<section class="hero is-medium is-primary is-bold" style="background-image: url('/assets/splash/lifting.webp')">
  <div class="hero-body">
    <div class="container is-pulled-left">
      <h1 class="title">
        PRO FITNESS
      </h1>
      <h2 class="subtitle is-pulled-left">
        The Importance of Being Arnold
      </h2>
    </div>
  </div>
</section>
<%# <%= image_tag "splash/lifting.webp", id: "banner" %>


<div class="tile is-ancestor">
  <div class="tile is-4">
    <!-- 1/3 -->
  </div>
  <div class="tile">
    <!-- This tile will take the rest: 2/3 -->
  </div>
</div>

<section class="section">
  <div class="container">
    <section class="columns">
      <div class="column">
        <div class="row">
          <h1 class="is-size-3 has-text-centered">Workouts</h1>
          <p class="has-text-centered">Quickly enter your workouts. Get massive. Know your stats.</p>
        </div>
        <div class="row">
          <h1 class="is-size-3 has-text-centered">Charts</h1>
          <p class="has-text-centered">Gotta know where you're going and where you've been. See sick charts of your gains.</p>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <h1 class="is-size-3 has-text-centered">Flex</h1>
          <p class="has-text-centered">Show off or get shown up. Make liftin buds and find a spotter.</p>
        </div>

        <div class="row">
          <h1 class="is-size-3 has-text-centered">Hot Tips</h1>
          <p class="has-text-centered">World class fitness advice from your buds.</p>
        </div>
      </div>
    </section>
  </div>
</section>
