@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $white: #FFF;
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

$white: #FCFCFC;
$light-blue: #AFC0C4;
$blue: #6A8991;
$green: #318282;
$mauve: rgb(199, 191, 193);
$red: #F8BBB8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $blue;
$grey-light: $light-blue;
$primary: $green;
$link: $mauve;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "bulma";

// .authenticate {
//   float: right;
//   font-size: 20px;
// }


/* Create three equal columns that floats next to each other */
// .column {
//   float: left;
//   width: 33.33%;
//   padding: 10px;
// }
#logo {
  display: flex;
}

#logo img {
  height: 66px;
  width: 66px;
// max-height:100%;
// object-fit: contain;
}

#navbar {
  background-color: $blue;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
}

footer.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 1.5rem 1.5rem;
}

#no-dots li {
  list-style-type: none;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
