<%= image_tag "workout.jpg", id: "banner" %>
<h1>Choose Your Exercise</h1>
<ul>
  <% @exercises.each do |exercise| %>
  <li>
  <%= link_to exercise.name.capitalize, exercise %>
  </li>
  <% end %>
</ul>
