<section class="hero is-medium is-primary is-bold" style="background-image: url('/assets/splash/workout.jpg')">
  <div class="hero-body">
    <div class="container is-pulled-left">
      <h1 class="title">
        PRO FITNESS
      </h1>
      <h2 class="subtitle is-pulled-left">
        The Importance of Being Arnold
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1>Choose Your Exercise</h1>
  <%= form_tag '/exercises/search', method: 'GET' do %>
      <div class="field has-addons">
        <div class="select is-primary">
            <%= select_tag 'id', options_from_collection_for_select(Exercise.all, "id", "name")%>
            </div>
            <%= submit_tag "Find Exercise", class: "button is-primary" %>
            <% end %>
      </div>
    </div>
</section>
